{% if page.comments %}
<div class="comments">
  <hr />
  <script src="https://giscus.app/client.js"
        data-repo="finiteloopme/finiteloopme.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk0MzY1NDc5Ng=="
        data-category-id="DIC_kwDOApoejM4DCNQP"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
</div>
{% endif %}
