/*- Custom style -*/

// -- Put custom style under this point -- //

$category-color: #808080;

$tag-color: #C0C0C0;

.category-glyph{
    color: $category-color;
    margin-right: 5px;
}

.label-glyph{
    color: $tag-color;
    margin-right: 5px;
}

.label-category {
   background-color: $category-color;
   margin-right: 5px;
}
.label-category:hover {
   background-color: darken($category-color, 5%);
   text-decoration:underline;
}

.label-tag {
   background-color: $tag-color;
   margin-right: 5px;
}
.label-tag:hover {
   background-color: darken($tag-color, 5%);
   text-decoration:underline;
}

h1:before {
    //border-left: 3px solid $main-color;
    content: "\002637";
    color: $main-color;
}
