/*- Custom style -*/

// -- Put custom style under this point -- //

$category-color: #707070;

$tag-color: #C0C0C0;

.label-category {
   background-color: $category-color;
}
.label-category:hover {
   background-color: darken($category-color, 5%);
}

.label-tag {
   background-color: $tag-color;
}
.label-tag:hover {
   background-color: darken($tag-color, 5%);
}
