---
layout: default
---
<article id="post-page">
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	{% for category in page.categories %}
	<a href="/categories/#{{ category }}" class="label label-category">
			{{ category | replace:'-', ' ' }}
	</a>
	{% endfor %}
	{% for tag in page.tags %}
	<a href="/tags/#{{ tag }}" class="label label-tag">
		{{ tag | replace:'-', ' ' }}
	</a>
	{% endfor %}
	<hr />
	<div class="content">

		{{ content }}

	</div>
</article>
